@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

#container {
  min-width: 240px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(240px, 100%);
  grid-template-rows: minmax(240px, 616px) minmax(240px, auto) minmax(240px, auto) minmax(240px, auto) 5vh;
  justify-content: center;
}

header {
  grid-row: 1/1;
}

article {
  grid-row: 2/2;
  background-color: #1AADEC;
}

main {
  grid-row: 3/3;
}

aside {
  grid-row: 4/4;
  background-color: #0071B0;
  color: rgb(228, 228, 228);
}

footer {
  grid-row: 5/5;
  background-color: #0071B0;
  color: rgb(228, 228, 228);
  padding: 10px 0px;
  text-align: center;
  font-size: 10pt;
}

.container-box {
  width: auto;
  height: 100%;
  margin: 0px auto;
  max-width: 1400px;
  min-width: 230px;
  padding: 0px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul .active {
  color: #1AADEC;
}
nav ul a {
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

header section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header section .start__apresentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header section .start__apresentation h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  color: #3C184E;
}
header section .start__apresentation p {
  margin: 30px 0px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #3C184E;
}
header section img {
  width: auto;
  max-width: 450px;
}

.btn-start {
  padding: 15px 32px;
  background-color: #1AADEC;
  border-radius: 40px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.btn-start:hover {
  cursor: pointer;
}

.btn-contact {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #3C184E;
  background-color: transparent;
  border: none;
  margin-left: 30px;
}
.btn-contact:hover {
  cursor: pointer;
}

@media screen and (max-width: 806px) {
  nav ul {
    display: none;
  }
  .imgDog {
    height: 16rem;
  }
  h1 {
    font-size: 37px !important;
    line-height: 54px !important;
  }
  .buttons_starts {
    display: flex;
  }
  .blog-slider__wrp, .blog-slider {
    width: 459px !important;
  }
}
@media screen and (max-width: 569px) {
  .start__apresentation {
    width: 100% !important;
  }
  .start__apresentation h1 {
    font-size: 38px !important;
    line-height: 40px !important;
  }
  .imgDog {
    max-width: 224px !important;
    margin: auto;
  }
  .dogBanner {
    height: 16rem !important;
  }
  .blog-slider__wrp, .blog-slider {
    display: none !important;
  }
}
#pets {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  text-align: center;
}

.pets_adopt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pets_adopt img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  border-radius: 8px;
}

.pet__1 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__1 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__1 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__2 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__2 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__2 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__3 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__3 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__3 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__4 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__4 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__4 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__5 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__5 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__5 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__6 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__6 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__6 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__7 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__7 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__7 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.pet__8 {
  margin: 10px 10px;
  height: 300px;
  border-radius: 8px;
}
.pet__8 div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 82px;
  position: relative;
  z-index: 10;
  top: -82px;
  text-align: center;
  color: #ffffff;
  padding: 8px 0px;
  border-radius: 0px 0px 8px 8px;
}
.pet__8 div button {
  background-color: #1AADEC;
  border: 0.5px solid rgb(201, 201, 201);
  border-radius: 8px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 196.19%;
  color: #ffffff;
  width: 100px;
}

.btn_more {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  align-self: center;
  background: #1AADEC;
  border-radius: 20px;
  font-family: "DM Sans" sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */